Package: com.shade.nougat
Name: Nougat
Depends: mobilesubstrate, preferenceloader, ws.hbang.common, com.a3tweaks.flipswitch
Version: 0.5.3
Architecture: iphoneos-arm
Description: Android NC for iOS
Icon: file:///Library/PreferenceBundles/Nougat.bundle/icon@2x.png
Depiction: http://shade-zepheri.github.io/depic/index.html?p=com.shade.nougat
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
