Package: com.shade.nougat
Name: Nougat
Depends: firmware (>= 10.0), mobilesubstrate, preferenceloader, ws.hbang.common, com.a3tweaks.flipswitch
Conflicts: me.nepeta.axon, com.peterdev.grupi
Version: 1.0
Architecture: iphoneos-arm
Description: Android NC for iOS
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/Nougat.bundle/icon@2x.png
Depiction: https://shade-zepheri.github.io/depic/index.html?p=com.shade.nougat
SileoDepiction: https://shade-zepheri.github.io/depic/com.shade.nougat/sileo.json
Tag: compatible::ios10, compatible::ios11, compatible::ios12, compatible::ios13
