<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.shade.nougat</string>
            <key>key</key>
            <string>enabled</string>
            <key>icon</key>
			<string>enable.png</string>
            <key>label</key>
            <string>ENABLE</string>
            <key>PostNotification</key>
            <string>com.shade.nougat/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Shade Zepheri</string>
            <key>user</key>
            <string>alfonso_gonzo</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>APPEARANCE</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>default</key>
            <integer>0</integer>
            <key>defaults</key>
            <string>com.shade.nougat</string>
            <key>PostNotification</key>
            <string>com.shade.nougat/ReloadPrefs</string>
            <key>key</key>
            <string>darkVariant</string>
            <key>id</key>
			<string>AppearanceSettingCell</string>
            <key>validTitles</key>
            <array>
                <string>NEXUS</string>
                <string>PIXEL</string>
                <string>OREO</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.shade.nougat</string>
            <key>key</key>
            <string>usesSystemAppearance</string>
            <key>id</key>
			<string>SystemAppearanceCell</string>
            <key>label</key>
            <string>USE_SYSTEM_APPEARANCE</string>
            <key>PostNotification</key>
            <string>com.shade.nougat/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.shade.nougat</string>
            <key>key</key>
            <string>colorflowEnabled</string>
            <key>id</key>
			<string>ColorflowCell</string>
            <key>label</key>
            <string>USE_COLORFLOW</string>
            <key>PostNotification</key>
            <string>com.shade.nougat/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>NOTIFICATIONS</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>default</key>
            <integer>0</integer>
            <key>defaults</key>
            <string>com.shade.nougat</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>PostNotification</key>
            <string>com.shade.nougat/ReloadPrefs</string>
            <key>key</key>
            <string>notificationPreviewSetting</string>
            <key>label</key>
            <string>SHOW_NOTIFICATION_PREVIEW</string>
            <key>validTitles</key>
            <array>
                <string>ALWAYS</string>
                <string>WHEN_UNLOCKED</string>
                <string>NEVER</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>NUASortOrderController</string>
            <key>icon</key>
            <string>edit.png</string>
            <key>label</key>
            <string>SORT_ORDER</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
            <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>NUAUserGuideController</string>
            <key>icon</key>
			<string>guide.png</string>
            <key>label</key>
            <string>USER_GUIDE</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>COMPATIBILITY</string>
            <key>footerText</key>
            <string>COMPATIBILITY_FOOTER</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.shade.nougat</string>
            <key>key</key>
            <string>hideStatusBar</string>
            <key>label</key>
            <string>HIDE_STATUS_BAR</string>
            <key>PostNotification</key>
            <string>com.shade.nougat/ReloadPrefs</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSLinkCell</string>
            <key>cellClass</key>
            <string>HBTintedTableCell</string>
			<key>label</key>
			<string>SUPPORT</string>
            <key>icon</key>
			<string>support.png</string>
			<key>action</key>
		    <string>showSupportEmailController</string>
		</dict>
        <dict>
            <key>cellClass</key>
            <string>HBLinkTableCell</string>
            <key>label</key>
            <string>HELP_TRANSLATING</string>
            <key>url</key>
            <string>https://crwd.in/nougat</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>NUATranslatorsListController</string>
            <key>label</key>
            <string>TRANSLATORS</string>
        </dict>
    </array>
    <key>title</key>
    <string></string>
</dict>
</plist>
