<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.shade.nougat</string>
            <key>PostNotification</key>
            <string>com.shade.nougat/ReloadPrefs</string>
            <key>key</key>
            <string>enabled</string>
            <key>label</key>
            <string>ENABLE</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>default</key>
            <integer>0</integer>
            <key>defaults</key>
            <string>com.shade.nougat</string>
            <key>PostNotification</key>
            <string>com.shade.nougat/ReloadPrefs</string>
            <key>key</key>
            <string>darkVariant</string>
            <key>label</key>
            <string>Drawer Style</string>
            <key>validTitles</key>
            <array>
                <string>NEXUS</string>
                <string>PIXEL</string>
                <string>OREO</string>
            </array>
            <key>validValues</key>
            <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
            </array>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            </dict>
            <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>User Guide</string>
            <key>detail</key>
            <string>NUAUserGuideController</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>NUASortOrderController</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>SORT_ORDER</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>big</key>
            <true/>
            <key>height</key>
            <integer>76</integer>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Shade Zepheri</string>
            <key>user</key>
            <string>ShadeZepheri</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBLinkTableCell</string>
            <key>icon</key>
            <string>github.png</string>
            <key>label</key>
            <string>SOURCE_CODE</string>
            <key>url</key>
            <string>https://github.com/Shade-Zepheri/Nougat</string>
        </dict>
    </array>
    <key>title</key>
    <string>NOUGAT</string>
</dict>
</plist>
