<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>id</key>
            <string>TOGGLE_ORDER_INSTRUCTIONS</string>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>CUSTOMIZE_TOGGLES_DETAILS_HEADER</string>
        </dict>
    </array>
    <key>title</key>
    <string>CUSTOMIZE_TOGGLES_DETAILS_TITLE</string>
</dict>
</plist>
