<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>Arabic: Ezzat</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>German: Simon</string>
            <key>user</key>
            <string>derinsiderx</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Spanish: DaThinkingChair</string>
            <key>user</key>
            <string>DaThinkingChair</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>Spanish: tomas c.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>Vietnamese: Tiến Anh</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
    </array>
    <key>title</key>
    <string>TRANSLATORS</string>
</dict>
</plist>
