<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>Arabic: Ezzat</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Finnish: Mikko Kalermo</string>
            <key>user</key>
            <string>kalermo</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>NUAInstagramCell</string>
            <key>label</key>
            <string>French: Elena</string>
            <key>user</key>
            <string>elena.cmp</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>German: Simon</string>
            <key>user</key>
            <string>derinsiderx</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Hebrew: Aran Shavit</string>
            <key>user</key>
            <string>Aranshavit</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBLinkTableCell</string>
            <key>label</key>
            <string>Hungarian: Muráncsik Sebestyén</string>
            <key>url</key>
            <string>http://pegazus.space/</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>Japanese: Onoue Ryotaro</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Korean: Jinhyeok Lee</string>
            <key>user</key>
            <string>zenyr</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Brazilian Portuguese: Guilherme Benites</string>
            <key>user</key>
            <string>benitesgui</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Romanian: Popescu Bogdan</string>
            <key>user</key>
            <string>PBDi4</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Russian: Gennady Koshkin</string>
            <key>user</key>
            <string>gkeep_</string>
        </dict>
        <dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Spanish: DaThinkingChair</string>
            <key>user</key>
            <string>DaThinkingChair</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>Spanish: tomas c.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>Vietnamese: Tiến Anh</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
    </array>
    <key>title</key>
    <string>TRANSLATORS</string>
</dict>
</plist>
